In [10]:
# Importamos la biblioteca pandas y la renombramos como pd
import pandas as pd

# Importamos las bibliotecas pyarrow y pyarrow.parquet
import pyarrow as pa
import pyarrow.parquet as pq

# Cargamos la extensión autoreload para recargar automáticamente módulos modificados
%load_ext autoreload

# Establecemos autoreload en 2, lo que significa que los módulos se recargarán automáticamente
%autoreload 2

# Importamos un módulo llamado 'utils'
import utils

# Configuramos para que se ignoren las advertencias
import warnings
warnings.filterwarnings("ignore")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Extracción de los conjuntos de datos

In [11]:
import os
import pandas as pd


# Cargar datos en dataframes
df_items = pd.read_csv("D:\Curso Henry\Dataset_Limpio\df_australian_users_items.csv", encoding='utf-8')
df_games = pd.read_csv("D:\Curso Henry\Dataset_Limpio\df_output_steam_games.csv", encoding='utf-8')
df_reviews = pd.read_csv("D:\Curso Henry\Dataset_Limpio\df_reviews_user.csv", encoding='utf-8')

PlayTimeGenre

In [12]:
# Suponiendo que 'playtime_forever' está en minutos y deseas convertirlo a horas
df_items['playtime_forever'] = df_items['playtime_forever'] / 60

In [19]:

df_items

,user_id,steam_id,playtime_forever,item_id,item_name
0,evcentric,76561198007712555,15.383333,1200,Red Orchestra: Ostfront 41-45
1,corrupted_soul,76561198007659921,44.066667,4000,Garry's Mod
2,jorellpogi,76561198103696236,58.650000,240,Counter-Strike: Source
3,76561198064823719,76561198064823719,37.683333,220,Half-Life 2
4,MeaTCompany,76561198071532177,53.483333,240,Counter-Strike: Source
...,...,...,...,...,...
65950,76561198320038728,76561198320038728,1.183333,39000,Moonbase Alpha
65951,ArkPlays7,76561198321542621,0.000000,218230,PlanetSide 2
65952,76561198323066619,76561198323066619,0.000000,413850,CS:GO Player Profiles
65953,76561198326700687,76561198326700687,0.000000,11020,TrackMania Nations Forever
65954,76561198329548331,76561198329548331,11.283333,304930,Unturned

In [14]:
df_games

,publisher,genres,app_name,title,price,id,developer,release_year
0,Poppermost Productions,Free to Play,SNOW - All Access Legend Pass,SNOW - All Access Legend Pass,29.99,774278,Poppermost Productions,2018
1,Poppermost Productions,Free to Play,SNOW - Lifetime Pack,SNOW - Lifetime Pack,59.99,774279,Poppermost Productions,2018
2,SimBin,Racing,RACE - The WTCC Game,RACE - The WTCC Game,39.99,4230,SimBin,2006
3,NCsoft,Massively Multiplayer,Guild Wars Trilogy,Guild Wars Trilogy,29.99,29570,ArenaNet®,2008
4,Dovetail Games - Trains,Simulation,Train Simulator: Colton & Northern Route Add-On,Train Simulator: Colton &amp; Northern Route A...,24.99,24029,All Aboard,2009
...,...,...,...,...,...,...,...,...
1750,NaN,Animation &amp; Modeling,Radius-Wing SHMUP 3d Models,Radius-Wing SHMUP 3d Models,24.99,774931,BrashMonkey,2017
1751,Firedog Creative Company Limited,RPG,愛神餐館2,愛神餐館2,34.99,769680,Firedog Creative Company Limited,2017
1752,CarX Technologies,Massively Multiplayer,CarX Drift Racing Online - Deluxe,CarX Drift Racing Online - Deluxe,29.99,776950,CarX Technologies,2017
1753,DreamInCode B.V.,Action,Mesozoica,Mesozoica,29.99,719590,"DreamInCode B.V.,Squadron Interactive",2018
1754,Koch Media,Utilities,CyberLink YouCam 7 Deluxe,CyberLink YouCam 7 Deluxe,29.99,755310,CyberLink,2017

Playtime_Genre por usuario

In [15]:
df_reviews.columns

Index(['user_id', 'item_id', 'recommend', 'review', 'year_posted',
       'sentiment_score'],
      dtype='object')

Playtime_Genre Año con mas horas jugadas

In [16]:
playtime_Genere = df_items[['playtime_forever', 'user_id', 'item_id']]
playtime_Genere

       playtime_forever            user_id  item_id
0             15.383333          evcentric     1200
1             44.066667     corrupted_soul     4000
2             58.650000         jorellpogi      240
3             37.683333  76561198064823719      220
4             53.483333        MeaTCompany      240
...                 ...                ...      ...
65950          1.183333  76561198320038728    39000
65951          0.000000          ArkPlays7   218230
65952          0.000000  76561198323066619   413850
65953          0.000000  76561198326700687    11020
65954         11.283333  76561198329548331   304930

[65955 rows x 3 columns]


Del dataframe df_games se extrae el 'id' del item y el género.

In [23]:
genre_item = df_games[['genres', 'id',"release_year"]]
# Se renombra la columna 'id' para unirla con el dataframe anterior
genre_item = genre_item.rename(columns={'id':'item_id'})
genre_item

                        genres  item_id release_year
0                 Free to Play   774278         2018
1                 Free to Play   774279         2018
2                       Racing     4230         2006
3        Massively Multiplayer    29570         2008
4                   Simulation    24029         2009
...                        ...      ...          ...
1750  Animation &amp; Modeling   774931         2017
1751                       RPG   769680         2017
1752     Massively Multiplayer   776950         2017
1753                    Action   719590         2018
1754                 Utilities   755310         2017

[1755 rows x 3 columns]

DASta sert union  ITem_id

In [24]:
df_playtime_genre = playtime_Genere.merge(genre_item, on='item_id')
df_playtime_genre

     playtime_forever            user_id  item_id    genres release_year
0          248.250000  Unplanned_stategy     8930  Strategy         2010
1           10.516667        durolan2535     8930  Strategy         2010
2          105.783333  76561198079897413     8930  Strategy         2010
3          219.800000  76561198030902728     8930  Strategy         2010
4           17.850000  76561198043903508     8930  Strategy         2010
..                ...                ...      ...       ...          ...
909          0.000000        MakinItRain   223830     Indie         2014
910          7.883333         samw9w8765   311210    Action         2015
911        222.283333  76561198201253170    65980  Strategy         2014
912          0.000000  76561198242444678   228260     Indie         2013
913          0.000000             Soppro   214490    Action         2014

[914 rows x 5 columns]

In [28]:
# Se agrupa por género y usuario y se suma el tiempo de juego
agg_genero = df_playtime_genre.groupby(['genres', 'user_id', 'release_year'])['playtime_forever'].sum().reset_index()
agg_genero

       genres               user_id release_year  playtime_forever
0      Action         0898786879898         2012          8.600000
1      Action     13371337133713337         2012         33.566667
2      Action              22491987         2010          9.300000
3      Action  34568535890075433578         2012          4.500000
4      Action        420blazefag00t         2012         12.583333
..        ...                   ...          ...               ...
909  Strategy              stunique         2010         24.700000
910  Strategy               tarkisc         2010          1.416667
911  Strategy         threw4EZrares         2010          0.050000
912  Strategy               watofit         2010          1.416667
913  Strategy          william19222         2010         65.716667

[914 rows x 4 columns]

In [29]:

agg_genero.to_csv('df_reviews_user.csv', index=False)